.App {
  padding-top: 30px;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
}

#light {
  background-color: #f3ebf6;
}
#dark {
  background-color: #46045e;
}

.switch label{
  margin: 15px;
}

#light .switch label {
  color: black;
}
#dark .switch label {
  color: white;
}

#dark #textpre{
  color: white;
}
#light #textpre{
  color: black;
}

footer {
background-color: #f3ebf6;
position: fixed;
width: 100%;
height: 30%;
color: white;
font-size: 25px;
}

#light footer{
  background-color: #f3ebf6;
}

#dark footer{
  background-color: #46045e;
}

#light .input{
  background-color: white;
  color: black;
}
#dark .input{
  background-color: #4b0268;
  color: white;
}

#light #isi{
  background-color: white;
  color: black;
}
#dark #isi{
  background-color: #4b0268;
  color: white;
}